.params {
  padding-bottom: 15px;
  display: flex;
  justify-content: space-evenly;
  gap: 15px;
  &__list{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__item{
    display: flex;
    gap: 4px;
    align-items: center;
    & > p {
      margin: 0;
    }
    & > img {
      width: 20px;
      height: 20px;
    }
  }
}